

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

form{
    width: 500px;
    height: auto;
    margin: 50px auto;
    border: 2px solid black;
    border-radius: 30px;
    padding: 20px;

}

input{
    width: 40%;
    margin: 10px;
    align-items: center;
}

p{
    margin: 5px;
    color: red;
}

button{
    margin: 5px;
    padding: 5px 10px 5px 10px;
}

